{
  "arrowParens": "always",
  "endOfLine": "lf",
  "overrides": [
    {
      "files": ["*.html"],
      "options": {
        "parser": "angular"
      }
    },
    {
      "files": ["*yml"],
      "options": {
        "singleQuote": false
      }
    },
    {
      "files": ["**/package*.json", ".prettierrc"],
      "options": {
        "tabWidth": 2
      }
    }
  ],
  "plugins": ["prettier-plugin-organize-imports"],
  "printWidth": 120,
  "quoteProps": "consistent",
  "semi": true,
  "singleQuote": true,
  "tabWidth": 4,
  "trailingComma": "all",
  "useTabs": false
}
