.dma-select-above .options-container {
    border-top-color: transparent;
    border-radius: 0.33em 0.33em 0 0;
}

.dma-select-below .options-container {
    border-bottom-color: transparent;
    border-radius: 0 0 0.33em 0.33em;
}
