@use '@angular/cdk/overlay-prebuilt.css';
@use './theme-variables' as tv;
@use './overlays';

* {
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: tv.$background;
    color: tv.$on-background;
    font-family: tv.$font-family;
    font-size: tv.$font-size;
    font-weight: tv.$fw-regular;
}
