name: Push to main branch
on:
    push:
        branches:
            - main
permissions:
    contents: read
    packages: write
jobs:
    ci:
        name: CI
        runs-on: ubuntu-22.04
        steps:
            - name: Checkout repository
              uses: actions/checkout@v6

            - name: Setup environment
              uses: ./.github/actions/setup-environment
              with:
                  token: ${{ secrets.GITHUB_TOKEN }}

            - name: CI
              uses: ./.github/actions/ci
